/* Fondo de la pantalla */
body {
  background-color: #f0f3fa;
  background-image: radial-gradient(circle at 20% 30%, #d5deef, transparent 20%),
    radial-gradient(circle at 80% 70%, #b1c9ef, transparent 20%),
    radial-gradient(circle at 50% 90%, #d5deef, transparent 20%),
    radial-gradient(circle at 30% 20%, #b1c9ef, transparent 20%);
  background-size: cover;
  background-attachment: fixed;
  font-family: "Roboto", sans-serif;
  /* color: #395886;  */
  line-height: 1.6;
  margin: 0;
  padding: 0;
}
