.navbar-custom {
  background-color: #395886; /* Color principal de la paleta */
  padding: 0 20px;
}

.nav-wrapper {
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

ul.right {
  display: flex;
  align-items: center;
}

ul.right li {
  margin-left: 20px; /* Añade espacio entre los elementos de la barra */
}

.brand-logo {
  margin-right: 50px; /* Separa el logo de los demás elementos */
}

.sidenav {
  padding-top: 20px; /* Añade un poco de espacio en la parte superior para los elementos de la barra lateral */
}

.sidenav .nav-link {
  padding: 15px 10px;
  font-size: 1.2rem;
}

.brand-logo {
  font-size: 1.8rem;
  color: #f0f3fa; /* Color claro para contraste */
}

.nav-link {
  color: #f0f3fa; /* Color claro para enlaces */
  text-transform: uppercase;
  margin-right: 15px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #b1c9ef; /* Cambio de color en hover */
}

.nav-button {
  display: flex;
  align-items: center;
  height: 64px;
  background-color: transparent;
  color: #f0f3fa;
  border: 1px solid #f0f3fa;
  padding: 8px 15px;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-button:hover {
  background-color: #b1c9ef; /* Fondo en hover */
  color: #395886; /* Texto en hover */
}

.sidenav .nav-link {
  color: #395886; /* Color para enlaces en el menú lateral */
}

.sidenav .nav-link:hover {
  background-color: #f0f3fa; /* Fondo en hover */
  color: #395886; /* Color de texto en hover */
}
